<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuejs</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="product">
            <div>
                <img class="product-image" :src="image" :alt="sexyGirl">
            </div>
            <div class="product-info">
                <h2>{{ product }}</h2>
                <p v-if="inventory > 10">In stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
                <p v-else>Out of stock</p>
                <p v-show="best">Best Selling</p>
                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>
                <div class="p-color" v-for="variant  in variants" :key="variant.variantID">{{variant.variantColor}}</div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main.js"></script>
</body>
</html>