<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuejs</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="product">
            <div class="product-frame">
                <img class="product-image" :src="image" :alt="sexyGirl">
            </div>
            <div class="product-info">
                <h2>{{ title }}</h2>
                <p v-if="inventory > 10">In stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
                <p v-else>Out of stock</p>
                <p v-show="best">Best Selling</p>
                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>
                <div class="color-box">
                    <div class="p-color"
                         v-for="(variant, index)  in variants" :key="variant.variantID"
                         :style="{ backgroundColor: variant.variantColor }"
                         @mouseover="updateProduct(index)">
                    </div>
                </div>

                <button v-on:click="addToCard"
                        :disabled="(!inventory>0)"
                        :class="{'disable-button' : !inventory>0}"
                        class="button-save-style">Add to card
                </button>
                <button class="button-save-style" v-on:click="removeCard">Remove card</button>

                <div class="cart">
                    <p>Cart ({{cart}})</p>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main.js"></script>
</body>
</html>