.product {
    display: flex;
}
.product-frame {
    width: 200px;
    display: flex;
    align-items: center;
}
.product-image {
    max-width: 100%;
    max-height: 300px;
}
.product-info {
    padding: 10px 20px;
}
.color-box {
    margin-bottom: 10px;
}
.p-color {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.cart p {
    background-color: lightgray;
    padding: 10px;
}
.button-save-style {
    padding: 10px;
    background-color: lightblue;
}
.disable-button {
    background-color: white;
}
