.product {
    display: flex;
}
.product-frame {
    width: 200px;
    display: flex;
    align-items: center;
}
.product-image {
    max-width: 100%;
    max-height: 300px;
}
.product-info {
    padding: 10px 20px;
}
.p-color {
    width: 20px;
    height: 20px;
}
.p-color:last-child {
    background-color: red;
}